{% extends 'home-page.html.twig' %}

{% block contenuto %}
	<article>
		<form method="post">
			<input type="password" name="password" placeholder="Password" />
			<button type="submit">Accedi</button>
		</form>
	</article>
{% endblock contenuto %}